@font-face {
    font-family: '1FTV Roashe';
    src: url('1FTVRoashe.eot');
    src: url('1FTVRoashe.eot?#iefix') format('embedded-opentype'),
        url('1FTVRoashe.woff2') format('woff2'),
        url('1FTVRoashe.woff') format('woff'),
        url('1FTVRoashe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DFVN Catchy Mager';
    src: url('DFVN-CatchyMager-Regular.eot');
    src: url('DFVN-CatchyMager-Regular.eot?#iefix') format('embedded-opentype'),
        url('DFVN-CatchyMager-Regular.woff2') format('woff2'),
        url('DFVN-CatchyMager-Regular.woff') format('woff'),
        url('DFVN-CatchyMager-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBlack.eot');
    src: url('SVN-GothamBlack.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamBlack.woff2') format('woff2'),
        url('SVN-GothamBlack.woff') format('woff'),
        url('SVN-GothamBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-Gotham.eot');
    src: url('SVN-Gotham.eot?#iefix') format('embedded-opentype'),
        url('SVN-Gotham.woff2') format('woff2'),
        url('SVN-Gotham.woff') format('woff'),
        url('SVN-Gotham.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Book';
    src: url('SVN-GothamBook.eot');
    src: url('SVN-GothamBook.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamBook.woff2') format('woff2'),
        url('SVN-GothamBook.woff') format('woff'),
        url('SVN-GothamBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamLight.eot');
    src: url('SVN-GothamLight.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamLight.woff2') format('woff2'),
        url('SVN-GothamLight.woff') format('woff'),
        url('SVN-GothamLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamThin.eot');
    src: url('SVN-GothamThin.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamThin.woff2') format('woff2'),
        url('SVN-GothamThin.woff') format('woff'),
        url('SVN-GothamThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Ultra';
    src: url('SVN-GothamUltra.eot');
    src: url('SVN-GothamUltra.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamUltra.woff2') format('woff2'),
        url('SVN-GothamUltra.woff') format('woff'),
        url('SVN-GothamUltra.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBlackItalic.eot');
    src: url('SVN-GothamBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamBlackItalic.woff2') format('woff2'),
        url('SVN-GothamBlackItalic.woff') format('woff'),
        url('SVN-GothamBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBoldItalic.eot');
    src: url('SVN-GothamBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamBoldItalic.woff2') format('woff2'),
        url('SVN-GothamBoldItalic.woff') format('woff'),
        url('SVN-GothamBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBold.eot');
    src: url('SVN-GothamBold.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamBold.woff2') format('woff2'),
        url('SVN-GothamBold.woff') format('woff'),
        url('SVN-GothamBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamLight_1.eot');
    src: url('SVN-GothamLight_1.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamLight_1.woff2') format('woff2'),
        url('SVN-GothamLight_1.woff') format('woff'),
        url('SVN-GothamLight_1.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBold_1.eot');
    src: url('SVN-GothamBold_1.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamBold_1.woff2') format('woff2'),
        url('SVN-GothamBold_1.woff') format('woff'),
        url('SVN-GothamBold_1.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamItalic.eot');
    src: url('SVN-GothamItalic.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamItalic.woff2') format('woff2'),
        url('SVN-GothamItalic.woff') format('woff'),
        url('SVN-GothamItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Book';
    src: url('SVN-GothamBookItalic.eot');
    src: url('SVN-GothamBookItalic.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamBookItalic.woff2') format('woff2'),
        url('SVN-GothamBookItalic.woff') format('woff'),
        url('SVN-GothamBookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamLightItalic.eot');
    src: url('SVN-GothamLightItalic.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamLightItalic.woff2') format('woff2'),
        url('SVN-GothamLightItalic.woff') format('woff'),
        url('SVN-GothamLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamThinItalic.eot');
    src: url('SVN-GothamThinItalic.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamThinItalic.woff2') format('woff2'),
        url('SVN-GothamThinItalic.woff') format('woff'),
        url('SVN-GothamThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Ultra';
    src: url('SVN-GothamUltraItalic.eot');
    src: url('SVN-GothamUltraItalic.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamUltraItalic.woff2') format('woff2'),
        url('SVN-GothamUltraItalic.woff') format('woff'),
        url('SVN-GothamUltraItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamLightItalic_1.eot');
    src: url('SVN-GothamLightItalic_1.eot?#iefix') format('embedded-opentype'),
        url('SVN-GothamLightItalic_1.woff2') format('woff2'),
        url('SVN-GothamLightItalic_1.woff') format('woff'),
        url('SVN-GothamLightItalic_1.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

